[Desktop Entry]
Version=1.0
Type=Application
Name=Robot Control
Comment=Launch G1 Robot Control App
Exec=bash -c "cd ~/G1-Robot && git pull -q && source ~/unitree_ros2/setup.sh && source ~/unitree_ros2/cyclonedds_ws/install/setup.bash && python3 ~/G1-Robot/server.py & sleep 4 && firefox http://localhost:5000"
Icon=utilities-terminal
Terminal=true
